/* Normalize */
*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Common Styles */
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container{
    margin: 0px 100px;
}

.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30vh;
}
.button{
    padding: 10px 30px;
    cursor: pointer;
}


/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background-color: rgb(111, 111, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 1000;
}
.menu-hidden {
    transform: translateY(-100%);
  }
.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    font-size: 14px;
}
.timer{
    font-size: 100px;
    font-weight: 700;
    color: azure;
}


/* Main Image block */
.main__container{
    width: 100vw;
    height: 100%;
    position: relative;
}
.swiper{
    width: 100%;
    height: 100vh;
}
.swiper-wrapper{
    min-width: 100vw;
}
.swiper-slide{
    min-width: 100%;
    background-color: aliceblue;
}
.swiper-slide img{
    display: block;
}
.button-prev, .button-next{
    z-index: 2;
    position: absolute;
    opacity: 0.5;
    font-size: 44px;
    color: #fff;
    cursor: pointer;
}
.button-prev{
    top: 0;
    left: 50%;
    transform:translate(-50%, 30%);
}
.button-next{
    bottom: 0;
    left: 50%;
    transform:translate(50%, 30%);
    rotate: 180deg;
}


/* Footer */
.footer{
    background-color: cornflowerblue;
    padding: 10px 0px;
}
.footer__container{
    display: flex;
    justify-content: center;
}